<h1 class="pageDescriptor text-center">{{title}}</h1>

<article class="container aboutSection m-5">
  <div>
    <img src="../images/personImage.jpg" alt="" />
  </div>
  <div>
    <h3>About Me || Arshdeep Kaur</h3>
    <p>Hello</p>
  </div>
</article>