<h1 class="pageDescriptor text-center">{{title}}</h1>

<article class="container contactForm p-5">
  {{! bootstrap form }}
  <form>
    <h5>Send a mail to me...</h5>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="abc@email.com"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Send your proposal</label>
      <textarea class="form-control" rows="10" id="description"> </textarea>
    </div>
    <button type="submit" class="btn btn-secondary w-100">Send Mail</button>
  </form>
</article>
<hr />
<article class="container">
  <h2 class="text-center">My Social Links</h2>
  <div class="container socialLinks">
    <a href="" class="linksContainer">
      <img width="60" height="60" src="../images/github.png" alt="" />
      <h5>Github</h5>
    </a>
    <a href="" class="linksContainer">
      <img width="60" height="60" src="../images/facebook.png" alt="" />
      <h5>Facebook</h5>
    </a>
    <a href="" class="linksContainer">
      <img width="60" height="60" src="../images/instagram.png" alt="" />
      <h5>Instagram</h5>
    </a>
    <a href="" class="linksContainer">
      <img width="60" height="60" src="../images/linkedin.png" alt="" />
      <h5>LinkedIn</h5>
    </a>
  </div>
</article>