<main>
  <h1 class="pageDescriptor m-5 text-center">{{title}}</h1>
  <article
    class="banner container m-5 d-flex align-items-center justify-content-center"
  >
    <div class="bannerContent">
      <h1 class="pageDescriptor">{{title}}</h1>
      <h4>Welcome to my website. This is Arshdeep, a student and a part time
        developer.</h4>
    </div>
    <div>
      <img
        height="100%"
        width="100%"
        src="../images/pexels-elvis-2528118.jpg"
        alt="banner"
      />
    </div>
  </article>

  <article class="qualities container m-5">
    <h2 class="text-center m-3">My Qualities</h2>
    <div class="qualitiesContainer d-flex text-center">
      <div class="items m-2"><img
          width="100%"
          src="../images/watch.jpg"
          alt=""
        />
        <h4 class="m-3">Punctual</h4></div>
      <div class="items m-2"><img
          width="100%"
          src="../images/work.jpg"
          alt=""
        />
        <h4 class="m-3">Best at work</h4></div>
      <div class="items m-2"><img
          width="100%"
          src="../images/communication.jpg"
        />
        <h4 class="m-3">Communication</h4></div>
    </div>
  </article>

  <article class="aboutDescription container m-5">
    <h2 class="text-center m-3">Your best work buddy</h2>
    <p class="m-3"></p>
  </article>

  <article class="recentWork container m-5">
    <h2 class="text-center m-3">Recent Work</h2>
    <div class="grid recentContainer mt-5 text-center">
      <div class="items g-col-6">
        <img width="90px" src="../images/project.png" alt="" />
        <h4>User management system</h4>
      </div>
      <div class="items g-col-6">
        <img width="90px" src="../images/project.png" alt="" />
        <h4>Salon Visiting Website</h4>
      </div>
      <div class="items g-col-6">
        <img width="90px" src="../images/project.png" alt="" />
        <h4>Resturant website</h4>
      </div>
    </div>
  </article>
</main>